@using T4WSystem.Application.ViewModels
@using T4WSystem.Presentation.MVC.Utilities
@model IEnumerable<RoomViewModel>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_RoyalLayout.cshtml";
}
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Viaje sem preocupação</h6>
                <h2>Relaxe a sua mente</h2>
                <p>Encontre as melhores ofertas em hospedagens e hotéis<br> Reserve a Hospedagem ideal para sua viagem</p>
                <a href="#" class="btn theme_btn button_hover">Começar</a>
            </div>
        </div>
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2>Reserve<br> Seu Quarto</h2>
                </div>
                <div class="col-md-9">
                    <div class="boking_table">
                        @Html.Partial("_SearchForm", new CriteriaViewModel())
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Banner Area =================-->
<!--================ Accomodation Area  =================-->
@Html.Partial("_Results", Model)
<!--================ Accomodation Area  =================-->
@section scripts{
<script>
    $(document).ready(function () {
        $('#CheckinDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });
    })
</script>
}

